body {
    font-family: Arial, sans-serif;
    background-image: url("./assets/portfolio.jpg");
}

.navbar {}

.hidden {
    display: none;
}

.table-container {
    display: none;
}

.show-table .table-container {
    display: block;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 75%;
    border: 1px solid #ccc;
    margin-top: 20px;
    border: 3px solid lightcoral
}

th {
    background-color: green;
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
}

td {
    padding: 8px;
    border: 1px solid #ccc;
    color: white;
}

.buttonContainer {
    float: left;
    margin-right: auto;
    margin-left: 12.5%;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: lightcoral;
}

.cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
    box-shadow: 0px 5px 25px 10px black;
}

.card:hover {
    background: lightgreen
}

.card .card-title {
    font-size: 20px;
}

.card .card-content {
    margin: 20px 0;
    max-width: 85%;
}

.card .card-link-wrapper {
    margin-top: auto;
}

.projectImages{
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;
}

.card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: black;
    padding: 6px 12px;
    border-radius: 8px;
    transition: 0.2s;
}

.card:hover .card-link {
    background: black;
}

.cards::-webkit-scrollbar {
    height: 12px;
}

.qualification {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 7%;
}

#mySkills {
    margin: 70px auto 0 auto;
    width: 75%;
    padding: 20px;
    text-align: left;
    border: 3px solid lightcoral
}

#myProjects {
    margin: 70px auto;
    width: 75%;
    padding: 20px 25px 0px 25px;
    text-align: left;
    border: 3px solid lightcoral;
    border-radius: 10px;
}

#myContact {
    background-color: lightgreen;
    margin: 70px auto;
    width: 75%;
    padding: 5px 0px 5px 0px;
    text-align: left;
    opacity: 0.9;
    border: 3px solid lightcoral
}

#myExperience {
    background-color: lightgreen;
    margin: 20px auto 0 auto;
    padding: 20px 25px 0px 25px;
    text-align: left;
    width: 75%;
    border-radius: 10px;
    border: 3px solid lightcoral
}

.toast {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 10px;
    background-color: lightcoral;
    color: #000;
    border-radius: 5px;
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
}

.toast.show {
    background-color: lightcoral;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.form-content {
    padding: 20px;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 40px 0;
    margin-top: 75px;
}

.social-icons a {
    color: white;
    margin-right: 15px;
    font-size: 24px;
}

.footer-contact {
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.footer-contact i {
    color: lightcoral;
    margin-right: 10px;
}

.footerText {
    margin-left: 20px;
    font-size: 15px;
}
#details{
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    .qualification {
        flex-direction: column;
    }
}

@media(max-width: 767px) {

    .buttonContainer {
        outline: none;
        border-radius: 5px;
        padding: 10px 20px;
        background-color: lightcoral;
        float: left;
        margin-right: auto;
        margin-left: 25px;
        margin-bottom: 20px;
    }

    #mySkills {
        margin: 70px auto;
        width: 85%;
        padding: 20px;
        text-align: left;
    }

    #myProjects {
        margin: 70px auto;
        width: 85%;
        padding: 20px;
        text-align: left;
    }

    .experience {
        display: flex;
        flex-direction: column;
    }

    #myExperience {
        background-color: lightgreen;
        padding: 20px 25px 0px 25px;
        text-align: left;
        margin: 20px 25px 0 25px;
        width: 87%;
    }

    #myContact {
        background-color: lightgreen;
        margin: 70px auto;
        width: 87%;
        padding: 5px 0px 5px 0px;
        text-align: left;
        opacity: 0.9;
    }
    #connect{
        margin-left: 20px;
        margin-top: 30px;
    }

}

@media (min-width: 500px) {
    .cards {
        grid-auto-columns: calc(50% - 10px);
        grid-column-gap: 20px;
    }
}

@media (min-width: 700px) {
    .cards {
        grid-auto-columns: calc(calc(100% / 3) - 20px);
        grid-column-gap: 30px;
    }
}

@media (min-width: 1100px) {
    .cards {
        grid-auto-columns: calc(50% - 100px);
        grid-column-gap: 50px;
    }
}


.portfolio {
    text-align: center;
}

.skill {
    margin: 20px 0;
}

.skill-name {
    display: block;
    margin-bottom: 5px;
}

.progress {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bars {
    color: black;
    background-color: lightgreen;
    text-align: center;
    padding: 0 auto;
    margin-top: 0px;
    padding-top: 8px;
}

.skills {
    margin: 0 auto;
    padding: 5px;
    background-color: lightgray;
    color: white;
}

.experience-container {
    display: flex;
    flex-direction: column;
}

.experience {
    display: flex;
    margin-bottom: 40px;
}

.experience-header {
    flex: 1;
}

.experience-description {
    flex: 2;
}

.experience h3 {
    margin-bottom: 5px;
}

.experience p {
    margin: 5px 0;
}

.experience ul {
    list-style-type: disc;
    margin-left: 20px;
}